certifi==2019.11.28
ConfigArgParse==1.0
numpy==1.18.1
packaging==20.1
pandas==0.25.3
patsy==0.5.1
Pillow==7.0.0
Pint==0.10.1
pprint==0.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
seamm-ff-util==0.7.0+5.gf5a9ea4.dirty
seamm-util==0.7.0
six==1.14.0
statsmodels==0.11.0
